# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
api/node_modules/
api/dist/
api/prisma/**/dev.db
api/prisma/**/dev.db-journal
api/uploads/
api/prisma/**/dev.db-wal
api/prisma/**/dev.db-shm
